body {
  background-color: black;
  margin: 0;
}

.headnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}

.headnav li {
	float: left;
}

.headnav li:last-child {
	border-right: none;
	border-left: none;
}

.headnav li a {
	display: block;
	color: gray;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.headnav li a:hover:not(.active) {
	background-color: #767777;
	color: white;
}

.headnav .active {
	color: white;
}

.headnav .right {
	float: right; 
}

.bodydiv {
	background-color: black;
	margin: 0px;
}
 
.bodydiv img {
	float: right;
	background-color: black;
	margin: 0px;
	max-width: 40%;
	height: auto;
	 border-radius: 30%;
}

.intro {
	float: left;
	padding-left: 20px;
}

p.title {
	color: white;
	font-size: 50px;
}

p.description {
	color: white;
	font-size: 20px;
}